<div id="<%= dom_id bullshit %>">
  <p>
    <strong>Title:</strong>
    <%= bullshit.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bullshit.description %>
  </p>

  <p>
    <strong>Random field:</strong>
    <%= bullshit.random_field %>
  </p>

</div>
